<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperar senha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
    <div class="container" style="margin-top: 10px">
        <div>
            <div class="form-group">
              <label for="password">Senha</label>
              <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
            </div>
            <div class="form-group">
              <label for="checkPassword">Repita sua senha</label>
              <input type="password" class="form-control" id="checkPassword" placeholder="Digite sua senha">
            </div>
            <button onclick="onClickBtn()" class="btn btn-primary">Enviar</button>
        </div>
        <div style="margin-top: 10px; display: none" id="alertError" class="alert alert-danger" role="alert">
            Senhas diferentes
            <button type="button" class="close" onclick="$('#alertError').hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div style="margin-top: 10px; display: none" id="alertErrorRequest" class="alert alert-danger" role="alert">
            Falha ao modificar a senha, tente novamente ou entre contato com o administrador
            <button type="button" class="close" onclick="$('#alertErrorRequest').hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        </div>

    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Atenção</h5>
            <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Sua senha foi modificada, agora você pode efetuar o login no aplicativo
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="closeWindow()">Ok</button>
        </div>
        </div>
    </div>
</div>

<script>
    function onClickBtn() {
        const password = document.getElementById('password').value
        const checkPassword = document.getElementById('checkPassword').value
        if (password !== checkPassword) {
            $('#alertError').show()
        } else {
            submitForm(password)
        }
    }

    function submitForm(password) {
        const mHeaders = new Headers()
        const url = window.location.href.split('/')
        mHeaders.append('Authorization', url[ url.length - 1 ])
        mHeaders.append('Accept', 'application/json')
        mHeaders.append('Content-Type', 'application/json')
        fetch('http://ec2-18-228-196-51.sa-east-1.compute.amazonaws.com:3001/<%= entity %>/change-password', {
            method: 'PATCH',
            headers: mHeaders,
            body: JSON.stringify({ password })
        })
        .then(r => r.json())
        .then(r => {
            if (r.status === 200) {
                $('#myModal').modal('show')
            } else {
                $('#alertErrorRequest').show()
            }
        })
        .catch(e => {
            console.log('ERROR: ', e)
            $('#alertErrorRequest').show()
        })
    }

    function closeWindow() {
        $('#myModal').modal('hide')
        window.close()
    }

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
